<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <button type="button" class="btn btn-danger" (click)="goToRoute('home')">Return to Home Page</button>
    </div>
  </div>
</div>

<br><br>

<form #form="ngForm" class="form" [class.was-validated]="form.dirty && form.invalid" autocomplete="off"
  (submit)="formSubmit(form)">


  <div [class.has-error]="Title.invalid && Title.dirty && Title.untouched &&
  description.invalid && description.dirty">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <label class="form-control-label">
            <h3>Title</h3>
          </label>
          <input #Title="ngModel" required class="form-control" type="text" name="title"
            placeholder="Please enter a Title for Bug" [(ngModel)]="model.title" required>
          <div *ngIf="Title.invalid && Title.dirty && Title.untouched" class="invalid-feedback">
            Field is required
          </div>

          <br>

          <label class="form-control-label">
            <h3>Description</h3>
          </label>
          <input #description="ngModel" required class="form-control" type="text" name="description"
            placeholder="Please enter a Description" [(ngModel)]="model.description" required>
          <div *ngIf="description.invalid && description.dirty" class="invalid-feedback">
            Field is required
          </div>

          <br><br>

          <button class="btn btn-primary" [disabled]="!form.valid">
            <span *ngIf="!!edit; else create">
              Update Bug
            </span>
            <ng-template #create>
              Create New Bug
            </ng-template>
          </button>

        </div>

        <div class="col-lg-6">

          <div class="container">
            <div class="row">

              <div class="col-lg-4">
                <div class="form-priority" [ngClass]="{'has-error': !PriorityIsValid && priority.dirty}">
                  <label class="form-control-label">
                    <h3>Priority</h3>
                  </label>
                  <br>
                  <select #priority="ngModel" name="priority" [(ngModel)]="model.priority"
                    (change)="PriorityValidation($event)" required>
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let priority of ListofPriorities">
                      {{priority}}
                    </option>
                  </select>
                  <div *ngIf="!PriorityIsValid && priority.dirty" style="color:red">
                    Field is required priority
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-reporter" [ngClass]="{'has-error': !ReporterIsValid && reporter.dirty}">
                  <label class="form-control-label">
                    <h3>Reporter</h3>
                  </label>
                  <br>
                  <select #reporter="ngModel" name="reporter" [(ngModel)]="model.reporter"
                    (change)="ReporterValidation($event)" required>
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let reporter of ListofReporters">
                      {{reporter}}
                    </option>
                  </select>
                  <div *ngIf="!ReporterIsValid && reporter.dirty" style="color:red">
                    Field is required reporter
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group" [ngClass]="{'has-error': !StatusIsValid && status.dirty}">
                  <label class="form-control-label">
                    <h3>Status</h3>
                  </label>
                  <br>
                  <select #status="ngModel" name="status" [(ngModel)]="model.status" (change)="StatusValidation($event)"
                    required>
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let status of ListofStatus">
                      {{status}}
                    </option>
                  </select>
                  <div *ngIf="!StatusIsValid && status.dirty" style="color:red">
                    Field is required status
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <ul *ngFor="let item of com">
    <li *ngIf="item.reporter">
      {{item.reporter}}: {{item.description}}
    </li>
  </ul>
  <div *ngIf="edit">
    <app-comments (output)="handle($event)"></app-comments>
  </div>
</form>
