thead tr th:not(:first-child) {
  cursor: pointer;
}

span {
  color: #008B8B;
  position: absolute;
}

#crtbg {
  position: relative;
}

.pagebuttons {
  border: none;
  background: none;
}

svg {
  margin-top: 0 em;
  cursor: pointer;
  vertical-align: top;
}

.pagenumber {
  position: relative;
  vertical-align: top;
}

.bg-dark {
  padding-top: 5px;
}
