thead tr th:not(:first-child) {
  cursor: pointer;
}

span {
  color: #008B8B;
  position: absolute;
}

#crtbg {
  position: relative;
}

.pagebuttons {
  border: none;
  background: none;
}

svg {
  margin-top: 1em;
  cursor: pointer;
}

.pagenumber {
  position: relative;
  vertical-align: top;
}
