<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Priority</th>
      <th scope="col">Reporter</th>
      <th scope="col">Date Created</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Title1</td>
      <td>Pr</td>
      <td>report</td>
      <td>report</td>
      <td>report</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>report</td>
      <td>report</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>report</td>
      <td>report</td>
    </tr>
  </tbody>
</table>
